*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}
 body{
     text-align: center;
     color: black;
     background: rgb(34,193,195);
     background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(34,139,195,1) 100%);   
     }
     h1{
         font-size: 60px;
         text-shadow: 0 0 10px rgb(34, 193, 195);
     }
     a{
         display: block;
         color: springgreen;
         text-decoration:none ;
         width: 150px;
        height: 50px;
        margin: 10px auto;
        background: radial-gradient(circle, rgba(33,0,166,1) 0%, rgba(33,130,166,1) 100%);
        border-radius: 5px;
        padding: 10px;
    }
    a:hover{
        box-shadow: rgb(30,45,48);
        border: solid rgb(197, 3, 3);
        background: rgb(10, 10, 41);
        color: cyan;
        transform: scale(1,2);
}